.sideBar{
    display: inline-block;
}

.line{
    background-color: #D4FFE8;
    width: 100%;
    height: 2px
}

.fullSideBarButton {
    display: inline-block;
}

.miniSideBar {
    display: flex;
    position: relative;
    flex-direction:column;
    align-items: center;
    gap: 5px;
    padding: 5px;
    height: calc(100% - 10px);
    width: 40px;
    background-color: #47B793;
    border-radius: 20px;
}

.fullSideBar {
    height: 100%;
    width: 200px;
    border-radius: 20px;
    background-color: #47B793;
}